<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

   <title>Продукты</title>
</head>
<body>
<script src="{{ asset('build/runtime.js') }}"></script>
<script src="{{ asset('build/vendors.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% block content %}{% endblock %}
</body>
</html>